.PageWrapperDiv {
    /*width: 1300px;*/
    /*height: 100%;*/
    margin: 0 auto;
    overflow: hidden;
}

.TitleAreaContainer {
    top: 0;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    left: 0;
    right: 0;
    height: 40px;
    display: block;
}

.TitleAreaContainer div {
    display: inline;
}

.TitleTextDiv {
    padding-left: 55px;
    font-size: 1.5em;
}

.SearchRangeTextDiv {
    padding-left: 430px;
    font-size: 0.9em;
}

.SearchSelectorDiv {
    padding-left: 10px;
}

.SearchFieldDiv {
    padding-left: 40px;
}

.SearchButtonDiv {
}

.ClearButtonDiv {
    padding-left: 75px;
}

.LoadingImgDiv {
    text-align: center;
}

.LoadingImgDiv div {
    padding-top: 30px;
    color: gray;
    font-size: 0.9em;
}

.LoadingImgDiv img {
    padding-top: 10px;
    /*content: url(loading.gif);*/
}

.DateStr {
    /*margin-top: 50px;*/
    /*margin-bottom: 0;*/
    padding-top: 20px;
    padding-left: 57px;
}

.HistoryDiv {
    overflow-x: scroll;
    white-space:nowrap;
}