.TitleAreaContainer {
    top: 0;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    left: 0;
    right: 0;
    min-width: 510px;
}

.TitleAreaContainer div {
    display: inline;
}

.TitleTextDiv {
    padding-left: 55px;
    font-size: 1.5em;
}

.SearchRangeTextDiv {
    padding-left: 430px;
    font-size: 0.9em;
}

.SearchSelectorDiv {
    padding-left: 10px;
}

.SearchFieldDiv {
    padding-left: 40px;
}

.SearchButtonDiv {
}

.ClearButtonDiv {
    padding-left: 75px;
}

.DateStr {
    /*margin-top: 50px;*/
    /*margin-bottom: 0;*/
    padding-top: 20px;
    padding-left: 57px;
}

.HistoryDiv {
    overflow-x: scroll;
    white-space:nowrap;
}