ul li {
    list-style-type: none;
}

.ContainerShifted {
    margin-left: 40px;
    padding:0;
}

.ContainerNotShifted {
    margin-left: 0px;
    padding:0;
}

.NodeContent {
    margin-left:18px;
    min-height: 18px;
}

.NodeContentVisible {
    display: block;
}

.NodeContentInvisible {
    display: none;
}

.SimpleEdge {
    background-image: url(Pics/simpleEdgeMy.ico);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    float: left;
}

.SimpleInvisibleEdge {
    display: none;
}

.FoldedEdge {
    background-image: url(Pics/foldedEdgeMy.ico);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    float: left;
}

.FoldedInvisibleEdge {
    display: none;
}