ul li {
    list-style-type: none;
}

.ContainerShifted {
    margin-left: 40px;
    padding:0;
}

.ContainerNotShifted {
    margin-left: 0;
    padding:0;
}

.NodeContent {
    margin-left:18px;
    min-height: 18px;
}

.NodeContentVisible {
    display: block;
}

.NodeContentInvisible {
    display: none;
}

.SimpleEdge {
    background-image: url(Pics/simpleEdge.ico);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    float: left;
}

.SimpleInvisibleEdge {
    display: none;
}

.FoldedEdge {
    background-image: url(Pics/foldedEdge.ico);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    float: left;
}

.FoldedInvisibleEdge {
    display: none;
}

.DelimiterState a:link { color: green; }
.DelimiterState a:visited { color: green;  }
.DelimiterState a:hover { color: green; }
.DelimiterState a:active { color: green; }

.FoldNodeState a:link { color: green; }
.FoldNodeState a:visited { color: green; }
.FoldNodeState a:hover { color: green; }
.FoldNodeState a:active { color: green; }

.FoldButton {
    height: 18px;
    margin-left: 6px;
}